<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user_address.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user_address.lastname %>
</p>

<p>
  <strong>Address line:</strong>
  <%= @user_address.address_line %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_address.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user_address.postcode %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_address.user_id %>
</p>

<%= link_to 'Edit', edit_user_address_path(@user_address) %> |
<%= link_to 'Back', user_addresses_path %>
