<div class="container">
  <%= form_with(model: product) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :discount_price %>
      <%= form.text_field :discount_price %>
    </div>

    <div class="field">
      <%= form.label :original_price %>
      <%= form.text_field :original_price %>
    </div>

    <div class="field">
      <%= form.label :user_id %>
      <%= form.number_field :user_id %>
    </div>


    <div class="field">
      <%= form.label :category_id, class: "form-label mr-1" %>
      <%= form.select :category_id, @categories.map {|c| [c.name, c.id]} %>
    </div>

    <h5>Category</h5>
    <div class="form-check form-check-line">
    <%= form.collection_check_boxes :category_id, categories, :id, :name do |c| %>
      <%= c.label(class: "form-check-label") %>
      <%= c.check_box(class: "form-check mr-2") %>
    <% end %>
  </div>


    <div class="field">
      <%= form.label :inventory_id %>
      <%= form.select :inventory_id, @inventories.map {|i| [i.quantity, i.id]} %>
    </div>

  <h5>inventory</h5>
  <div class="form-check form-check-line">
    <%= form.collection_check_boxes :inventory_id, inventories, :id, :quantity do |i| %>
      <%= i.label(class: "form-check-label") %>
      <%= i.check_box(class: "form-check mr-2") %>
    <% end %>
  </div>

    <h5 class='mb-3'>Picture</h5>
    <div class='field'>
      <%= form.label :picture, class: 'form-label' %>
      <%= form.file_field :picture, accepts: "image/png,image/jpg,image/jpeg", class: 'form-control-file' %>
      <br />
      <small class='form-text text-muted'>PNG, JPG and JPEG only</small>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

